/* =================================
------------------------------------
  SNV Business Solutions - Landing Page
  Version: 1.0
 ------------------------------------
 ====================================*/
@font-face {
	font-family: 'Futura';
	src: url("../fonts/Futura.woff");
}

html,
body {
	height: 100%;
	font-family: "Lato", "open sans", "roboto" , sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow-x: -webkit-paged-y;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #20509e;
	margin: 0;
	font-weight: 500;
	font-family: "Lato", "open sans", "roboto" , sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 14px;
}

p {
	font-size: 15.7px;
	color: #495057;
	line-height: 1.6;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 10px;
	margin: 10px;
}

.main-menu > ul {
	padding: 0px;
	margin: 0px;
}

/*---------------------
	Helper CSS
-----------------------*/

.spad1 {
	margin-top: 50px;
	margin-bottom: 0px;
}

.process-section1 {
	margin-top: 20px;
}

.spad2 {
	margin-top: 70px;
	margin-bottom: 70px;
}

.about-section {
	margin-top: 60px;
  margin-bottom: 30px;
}

.section-title {
	margin-bottom: 20px;
}

.section-title h2 {
	margin-bottom: 20px;
	margin-top: 40px;
}

.section-title p {
	margin-bottom: 0;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/*---------------------
	Commom elements
-----------------------*/

/* Buttons */

.site-btn {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	border-radius: 50px;
	font-family: "Futura", sans-serif;
	min-width: 170px;
	text-align: center;
	border: 2px solid #7ad4cc;
	cursor: pointer;
	color: #fff;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.no-radius {
	border-radius: 2px;
}

.site-btn.sb-full-- {
	display: block;
	width: 100%;
	border-radius: 0;
}

.site-btn.sb-gradients {
	padding: 17px 32px;
	border: none;
	color: #fff;
}

.site-btn.sb-gradients.sbg-line {
	color: #20509e;
	z-index: 1;
}

.site-btn.sb-gradients.sbg-line:after {
	position: absolute;
	content: '';
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	background: #fff;
	top: 2px;
	left: 2px;
	z-index: -1;
	border-radius: 50px;
}

.site-btn.sb-gradients.sbg-line:hover {
	color: #20509e;
}

.gradient-bg,
.site-btn.sb-gradients,
.member-social a:hover,
.single-blog-page .social-share a:hover,
.comment .comment-content .c-btn:hover,
.comment-form label {
	/* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#3e2bce), color-stop(100%, #2dd3aa), color-stop(100%, #2dd3aa), to(#2dd3aa));
	background: -o-linear-gradient(left, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
	background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e2bce', endColorstr='#2dd3aa', GradientType=1);
	/* IE6-9 */
}

/* Image Popup */

.img-popup-warp .mfp-content,
.img-popup-warp.mfp-ready.mfp-removing .mfp-content {
	opacity: 0;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.img-popup-warp.mfp-ready .mfp-content {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}


/*---------------------
	Read More Section
-----------------------*/

#more {
	display: none;
}


#more ul {
	padding: 0 0 0 10px;
	margin: 0 0 0 10px;
}

#real-estate-h5 {
	margin-bottom: 0;
}

/*---------------------
	Header section
-----------------------*/


/*--------------------
  Dropdown Button
	--------------------*/
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
		border: 0px solid #000000;
}

/* Links inside the dropdown */
#dropdown-menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
		font-family: "Futura", sans-serif;
    text-decoration: none;
    display: block;
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
		border: 0px solid #000000;
		margin-right: 0px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: transparent; opacity: 0.5;}

/*--------------------
  Dropdown Button
	--------------------*/


.logo-img {
	width: 175px;
	height: 70px;
}

.header-section {
	position: absolute;
	width: 100%;
	top: 0;
	padding: 15px 50px 0;
	z-index: 99;
}

.header-section .site-btn {
	float: right;
	margin-left: 60px;
}

.header-section .responsive-bar,
.header-section .user {
	display: none;
}

.main-menu {
	float: right;
}

.menu-list {
	list-style: none;
}

.menu-list li {
	display: inline;
}

.menu-list li a {
	display: inline-block;
	font-family: "Futura", sans-serif;
	font-size: 16px;
	padding: 10px 5px;
	margin-right: 30px;
	color: #fff;
}

/*---------------------
	Hero Section
-----------------------*/

.hero-section {
	height: 740px;
	padding-top: 180px;
	display: block;
	background-image: url("../img/hero-bg.png");
	background-size: auto;
	background-color: #f3f7f9;
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero-section .laptop-image {
	width: 685px;
	max-width: none;
	position: relative;
	left: 80px;
}

.hero-text {
	padding-top: 60px;
}

.hero-text h2 {
	font-size: 60px;
	margin-bottom: 15px;
	font-family: "Futura", sans-serif;
}

.hero-text h2 span {
	color: #16d0c5;
}

.hero-text h4 {
	color: #75849a;
	font-size: 22px;
}

.hero-subscribe-from {
	margin-top: 30px;
	display: block;
}

.hero-subscribe-from input {
	width: 315px;
	border: 1px solid #ebebeb;
	background: #fff;
	height: 48px;
	padding: 0 25px;
	border-radius: 50px;
	font-family: "Futura", sans-serif;
	font-size: 16px;
	margin-right: 8px;
	margin-bottom: 20px;
}

/*---------------------
  About Section
-----------------------*/

.about-section .container {
	position: relative;
}

.about-text {
	padding: 30px;
}

.about-text h2 {
	font-size: 48px;
	margin-bottom: 10px;
}

.about-text h5 {
	font-family: "Lato", sans-serif;
	margin-bottom: 20px;
	margin-top: 10px;
}

.about-text p {
	font-size: 18px;
}

.about-img > img {
	position: absolute;
	top: 0;
	left: -120px;
	width: 662px;
}

.pages > img {
	-webkit-box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
  box-shadow: 0 14px 43px rgba(63, 74, 81, 0.15);
	border-radius: 10px;
	max-height: 381.300px;
	max-width: 662px;
}
/*---------------------
  Feature Section
-----------------------*/


.features-section .container {
	margin-bottom: -45px;
}

.feature {
	margin-bottom: 45px;
}

.feature i {
	font-size: 48px;
	float: left;
	padding-top: 10px;
}

.feature .feature-content {
	padding-left: 70px;
}

.feature .feature-content h4 {
	margin-bottom: 15px;
}

.feature .readmore {
	text-decoration: underline;
	line-height: 1.2;
}

/*---------------------
	Process Section
-----------------------*/

.process:last-child .process-step:after {
	display: none;
}

.process-step {
	position: relative;
	text-align: center;
	padding: 35px;
	margin-top: 15px;
	-webkit-box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
	        box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
}

.process-step .process-icon {
	height: 55px;
	margin-bottom: 30px;
	padding-top: 5px;
}

.process-step h4 {
	margin-bottom: 15px;
}

.process-step p {
	margin-bottom: 0;
}

.process-step:after {
	position: absolute;
	content: '';
	width: 275px;
	height: 56px;
	top: -40px;
	right: -40%;
	background: url("../img/process-line.png") no-repeat scroll 0 0/cover;
}

/*---------------------
	Fact Section
-----------------------*/

.fact-section {
	padding: 100px 0;
}

.fact {
	display: inline-block;
	position: relative;
}

.fact h2 {
	float: left;
	color: #16d0c5;
	font-size: 60px;
	margin-right: 20px;
}

.fact p {
	float: left;
	padding-top: 14px;
	line-height: 1.4;
	color: #fff;
	text-transform: uppercase;
}

.fact i {
	position: absolute;
	right: -20px;
	top: -10px;
	font-size: 90px;
	color: #fff;
	z-index: 0;
	opacity: 0.1;
}

/*---------------------
	Team Section
-----------------------*/

.team-section {
	background: #f3f7f9;
	overflow: hidden;
	padding-bottom: 20px;
}

.team-members {
	margin: 0 -10px;
}

.member {
	background: #fff;
	width: calc(20% - 25px);
	display: inline-block;
	margin: 0 10px;
	text-align: center;
	padding: 50px 10px;
	-webkit-box-shadow: 1px 1px 1px rgba(33, 54, 61, 0.15);
	        box-shadow: 1px 1px 1px rgba(33, 54, 61, 0.15);
	border-radius: 10px;
	position: relative;
}

.member h2 {
	font-size: 22px;
	margin-bottom: 5px;
}

.member span {
	font-size: 14px;
	color: #75849a;
	display: block;
}

.member .member-text {
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	opacity: 1;
}

.member:hover {
	-webkit-box-shadow: 1px 14px 43px rgba(33, 54, 61, 0.15);
	        box-shadow: 1px 14px 43px rgba(33, 54, 61, 0.15);
}

.member:hover .member-info {
	opacity: 1;
}

.member:hover .member-text {
	opacity: 0;
}

.member-img {
	width: 230px;
	height: 230px;
	display: inline-block;
	border-radius: 50%;
	margin-bottom: 25px;
}

.member-social {
	padding-top: 25px;
	background: #fff;
	position: relative;
	z-index: 2;
}

.member-social a {
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	background: #cbd3df;
	color: #fff;
	padding-top: 13px;
	margin: 0 8px;
}

.member-meta {
	padding-left: 85px;
}

.member-info {
	padding: 50px 60px 10px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: left;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	height: 380px;
	overflow-y: auto;
}

.member-info p {
	display: block;
	padding-top: 25px;
	margin-bottom: 0;
}

.member-img.mf {
	width: 60px;
	height: 60px;
	opacity: 1;
	float: left;
	margin-bottom: 0;
}

/*---------------------
  Review Section
-----------------------*/

.review-section {
	margin-top: 20px;
	margin-bottom: 20px;
}

.review-meta-slider {
	position: relative;
	width: 300px;
}

.author-meta {
	padding: 50px 0 70px;
	position: relative;
	text-align: center;
}

.author-meta:last-child {
	margin-right: 0;
}

.author-avatar {
	width: 80px;
	height: 80px;
	border: 6px solid #fff;
	border-radius: 50%;
	-webkit-box-shadow: 0px 16px 21px rgba(33, 54, 61, 0.15);
	        box-shadow: 0px 16px 21px rgba(33, 54, 61, 0.15);
	display: inline-block;
}

.author-avatar h4 {
	font-size: 22px;
}

.author-avatar p {
	font-size: 14px;
}

.author-name {
	position: absolute;
	width: 280px;
	left: -50%;
	bottom: -10px;
	margin-left: -50px;
	text-align: center;
	visibility: hidden;
}

.center .author-meta {
	top: -6px;
}

.center .author-name {
	visibility: visible;
}

.center .author-avatar {
	width: 100px;
	height: 100px;
}

.review-text p {
	font-size: 22px;
}

.review-text-slider .owl-nav {
	padding-top: 15px;
}

.review-text-slider .owl-prev,
.review-text-slider .owl-next {
	width: 50px;
	height: 50px;
	display: inline-block;
	background: #cbd3df;
	color: #fff;
	font-size: 24px;
	text-align: center;
	margin-right: 10px;
	border-radius: 50%;
	padding-top: 8px;
}

.pull-3 {
	right: 66.666667%;
}

.push-8 {
	left: 33.333333%;
}

/*---------------------
	Newsletter Section
-----------------------*/

.newsletter-section {
	padding: 50px 0;
}

.newsletter-text h2 {
	font-size: 36px;
	margin-bottom: 10px;
}

.newsletter-text p {
	margin-bottom: 0;
}

.newsletter-form {
	position: relative;
	margin-top: 20px;
	padding-left: 40px;
}

.newsletter-form input {
	width: 100%;
	font-size: 16px;
	padding: 12px 30px;
	border: none;
	border-radius: 50px;
	padding-right: 160px;
	background: rgba(255, 255, 255, 0.2);
	color: #fff;
}

.newsletter-form button {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	border: none;
	border-radius: 0px 50px 50px 0px;
	min-width: 140px;
	background: #fff;
	color: #20509e;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}

.newsletter-form ::-webkit-input-placeholder {
	color: #fff;
}

.newsletter-form :-ms-input-placeholder {
	color: #fff;
}

.newsletter-form ::-ms-input-placeholder {
	color: #fff;
}

.newsletter-form ::placeholder {
	color: #fff;
}

/*---------------------
  Blog Section
-----------------------*/

.blog-section {
	background: #f3f7f9;
	padding-bottom: 20px;
	padding-top: 1px;
}

.blog-thumb {
	margin-bottom: 0;
}

.blog-text {
	background: #fff;
	padding: 30px;
	-webkit-box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.1);
	        box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.1);
}

.blog-text .post-date {
	font-size: 14px;
	font-family: "Futura", sans-serif;
	color: #16d0c5;
	text-transform: uppercase;
	margin-bottom: 15px;
	display: block;
	letter-spacing: 2px;
}

.blog-text .blog-title {
	font-size: 22px;
	margin-bottom: 20px;
}

.blog-text .blog-title a {
	color: #20509e;
}

.blog-text .post-meta a {
	font-size: 13px;
	color: #75849a;
	margin-right: 25px;
}

.blog-text .post-meta a:last-child {
	margin-right: 0;
}

.blog-text .post-meta a span {
	color: #cbd3df;
}

.blog-text .post-meta a i {
	color: #16d0c5;
}

.post-loadmore {
	width: 100%;
	border-radius: 0px;
}

.post-loadmore.site-btn.sb-gradients.sbg-line:after {
	border-radius: 0px;
}


/*---------------------
	Other Pages
----------------------
======================*/

.page-info-section {
	height: 300px;
	background-image: url("../img/page-info-bg.png");
	background-size: cover;
	background-color: #f3f7f9;
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	display: grid;
	padding-top: 60px;
}

.page-info-section h2 {
	font-size: 48px;
}
.page-info-section h2 span {
  color: #16d0c5;
}

.site-beradcamb {
	padding-top: 10px;
}

.site-beradcamb a {
	color: #20509e;
	font-size: 16px;
}

.site-beradcamb span {
	color: #acb9cc;
	font-size: 16px;
}

.site-beradcamb i {
	margin: 0 3px;
}

.info {
	width: 100%;
  padding-right: 15px;
  padding-left: 15px;
	padding-top: 20px;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: 50px;
  margin-top: 50px;
	max-width: 23%;
}

.info-com {
	padding-top: 0;
}
/*---------------------
  Blog page
-----------------------*/

.blog-page .blog-item {
	margin-bottom: 30px;
}

.blog-page .readmore {
	color: #20509e;
}

.blog-page .readmore i {
	color: #16d0c5;
}

.bi-feature .post-meta {
	margin-bottom: 30px;
}

.bi-feature .blog-text .blog-title {
	font-size: 36px;
}

.widget-area {
	padding: 30px;
	-webkit-box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.15);
	        box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.15);
	margin-bottom: 32px;
}

.widget-title {
	margin-left: 18px;
}

.widget-area .widget-title {
	margin-bottom: 25px;
}

.widget-area .widget {
	margin-bottom: 20px;
}

.widget-area .widget .widget-title {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ebebeb;
	line-height: 24px;
}

.widget-area .widget ul {
	list-style: none;
}

.widget-area .widget ul a {
	display: inline-block;
	font-size: 16px;
	color: #20509e;
	margin-bottom: 20px;
}

.widget-area .widget ul a:hover {
	color: #16d0c5;
}

.widget-area .widget .popular-posts span {
	color: #16d0c5;
	font-size: 12px;
	display: block;
	margin-bottom: 7px;
	text-transform: uppercase;
}

.widget-area .widget .popular-posts h5 a {
	font-size: 18px;
	color: #20509e;
}

.widget-area .widget .popular-posts h5 a:hover {
	color: #20509e;
}

.widget-area .widget .twitter-widget li {
	margin-bottom: 20px;
}

.widget-area .widget .twitter-widget span {
	color: #16d0c5;
	font-size: 12px;
	display: block;
	text-transform: uppercase;
}

.widget-area .widget .twitter-widget h5 {
	font-size: 18px;
	color: #20509e;
	margin-bottom: 5px;
}

.widget-area .widget .twitter-widget a {
	font-size: 18px;
	color: #1f6ae5;
	display: block;
	margin-bottom: 5px;
}

.widget-area .widget .twitter-widget a:hover {
	color: #1f6ae5;
}

.widget-area .widget-subscribe-from {
	padding-top: 10px;
	display: block;
}

.widget-area .widget-subscribe-from input {
	margin-right: 0;
	margin-bottom: 20px;
	width: 100%;
	background: #f3f7f9;
	border: 1px solid #ebebeb;
	padding: 15px 20px;
	font-size: 14px;
}

.single-blog-page blockquote {
	font-size: 24px;
	color: #20509e;
	padding-left: 25px;
	border-left: 2px solid #16d0c5;
	line-height: normal;
	margin: 40px 0;
	display: block;
}

.single-blog-page blockquote span {
	display: block;
	font-size: 16px;
	color: #16d0c5;
	padding-top: 10px;
}

.single-blog-page .post-tags a {
	display: inline-block;
	font-size: 11px;
	text-transform: uppercase;
	padding: 6px 15px;
	margin-right: 2px;
	margin-top: 5px;
	color: #75849a;
	background: #f3f7f9;
	border: 1px solid #ebebeb;
	margin-right: 5px;
}

.single-blog-page .social-share {
	display: block;
	text-align: right;
}

.single-blog-page .social-share p {
	display: inline-block;
	font-size: 14px;
	margin-right: 10px;
	color: #595959;
}

.single-blog-page .social-share a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 8px;
	text-align: center;
	border-radius: 40px;
	background: #f3f7f9;
	color: #75849a;
	padding-top: 9px;
	font-size: 14px;
	-webkit-box-shadow: 0 0 0 1px #ebebeb;
	        box-shadow: 0 0 0 1px #ebebeb;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.single-blog-page .social-share a:hover {
	color: #fff;
}

.releted-posts {
	padding-top: 50px;
	margin-top: 25px;
	border-top: 1px solid #ebebeb;
}

.releted-posts .blog-item {
	padding-top: 25px;
}

.releted-posts .blog-text {
	-webkit-box-shadow: 0 0 0 1px #ebebeb;
	        box-shadow: 0 0 0 1px #ebebeb;
	padding: 28px 28px 20px;
}

.releted-posts .blog-text .blog-title {
	font-size: 22px;
}

.releted-posts .post-meta {
	margin-bottom: 0;
}

.comment-area {
	padding-top: 50px;
}

.comment-list {
	padding-top: 40px;
	margin-top: 25px;
	border-top: 1px solid #ebebeb;
	list-style: none;
}

.comment-list .replay-comment-list {
	list-style: none;
	margin-left: 14%;
}

.comment {
	margin-bottom: 40px;
}

.comment .comment-avator {
	float: left;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.comment .comment-content {
	padding-left: 100px;
}

.comment .comment-content h5 {
	font-size: 18px;
	margin-bottom: 10px;
}

.comment .comment-content h5 span {
	font-size: 12px;
	color: #acb9cc;
	font-family: "Lato", sans-serif;
}

.comment .comment-content p {
	margin-bottom: 0;
}

.comment .comment-content .c-btn {
	font-family: "Futura", sans-serif;
	display: inline-block;
	font-size: 14px;
	border: 1px solid #ebebeb;
	background: #f3f7f9;
	color: #20509e;
	padding: 4px 25px;
	border-radius: 2px;
	margin-right: 5px;
	margin-top: 20px;
}

.comment .comment-content .c-btn:hover {
	color: #fff;
}

.comment-form .form-group {
	position: relative;
	padding: 1px;
	margin-bottom: 20px;
}

.comment-form input,
.comment-form textarea {
	width: 100%;
	padding: 11px 20px;
	border: none;
	border: 1px solid #e5e5e5;
	position: relative;
	z-index: 1;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.comment-form input:focus,
.comment-form textarea:focus {
	border-color: transparent;
}

.comment-form input:focus+label,
.comment-form textarea:focus+label {
	opacity: 1;
}

.comment-form label {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: block;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.comment-form textarea {
	height: 115px;
	display: -ms-grid;
	display: grid;
}

/*---------------------
	Contact page
-----------------------*/

.contact-form {
	padding-right: 35px;
}

.contact-form h5 {
	font-size: 16px;
	font-family: "Lato", sans-serif;
}

.contact-form h5 span {
	color: #16d0c5;
}

.contact-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.contact-form .form-group span {
	position: absolute;
	right: 0;
	top: 10px;
	font-size: 16px;
	color: #7bc063;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.contact-form .form-group span.active {
	opacity: 1;
}

.contact-form .check-form {
	padding-right: 20px;
}

.contact-form input,
.contact-form textarea {
	width: 100%;
	height: 50px;
	border: none;
	border-bottom: 1px solid #ebebeb;
	font-size: 16px;
	padding-bottom: 10px;
	color: #20509e;
}

.contact-form input:focus,
.contact-form textarea:focus {
	border-color: #20509e;
}

.contact-form textarea {
	padding-bottom: 10px;
	padding-top: 10px;
	height: 115px;
}

.contact-form .contact-type .ct-label {
	display: inline-block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 12px;
	margin-right: 40px;
	cursor: pointer;
	font-size: 16px;
	color: #acb9cc;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.contact-form .contact-type .ct-label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.contact-form .contact-type .ct-label input:checked~.checkmark:after {
	content: '\f111';
	color: #16d0c5;
}

.contact-form .contact-type .ct-label .checkmark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 25px;
	width: 25px;
}

.contact-form .contact-type .ct-label .checkmark:after {
	position: absolute;
	content: "\f10c";
	font-family: 'FontAwesome';
	font-size: 14px;
}

.contact-form .contact-type .ct-label:last-child {
	margin-right: 0;
}

.contact-form ::-webkit-input-placeholder {
	color: #acb9cc;
}

.contact-form :-ms-input-placeholder {
	color: #acb9cc;
}

.contact-form ::-ms-input-placeholder {
	color: #acb9cc;
}

.contact-form ::placeholder {
	color: #acb9cc;
}

.map {
	height: 390px;
	-webkit-box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.15);
	        box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.15);
}


/*--------------------
  Go To Top Button
	--------------------*/

	#topbtn {
	    width: 55px;
	    line-height: 55px;
	    overflow: hidden;
	    z-index: 999;
	    display: none;
	    cursor: pointer;
	    position: fixed;
	    bottom: 30px;
	    right: 30px;
			border-radius: 50%;
	    background-color: #DDD;
	    color: #555;
	    text-align: center;
	    font-size: 30px;
	    text-decoration: none;
	}
	#topbtn {
	    background-color: #2dd3aa;
	    color: #000;
	    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
	}


	/*---------------------
		Contact us or Footer
	-----------------------*/

	.gray-section {
		background: #f4f4f4d6;
	}

	.contact {
    background-image: url("../img/word_map.png");
    background-position: 50% 50%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}


	*, ::after, ::before {
	    box-sizing: border-box;
	}

	.contact h1 {
		color: #676a6c;
		font-family: "Open Sans", helvetica, arial, sans-serif;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 50px;
		font-weight: 200;
		line-height: 1.2;
		color: inherit;
}

.navy-line {
    width: 80px;
    height: 5px;
    margin: 20px auto 0;
    border-bottom: 2px solid #1ab394;
}

.contact p {
    color: #676a6c!important!;
    font-size: 16px;
    margin-bottom: 5px;
}

#contact-p {
	font-size: 16px;
	color: #6c757db5;
}

span.navy {
    color: #1ab394;
		font-size: 20px;
}

strong {
    font-weight: bolder;
}

address {
    font-size: 16px;
		margin-bottom: 1rem;
	  font-style: normal;
		line-height: inherit;
}

.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 3px;
    font-size: inherit;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cont {
	padding-top: 20px;
}

.con {
	margin-top: 30px;
}

.social-icon a {
    background: #1ab394;
    color: #fff;
    padding: 4px 8px;
    height: 32px;
    width: 32px;
    display: block;
    border-radius: 50px;
}

#contact {
	color: #676a6c;
	font-size: 16px;
}

a :hover {
	color: #22826f;
}

.ftr {
	padding-left: 15px;
}

/*-------------------------
	Contact us or Footer end
---------------------------*/

/*------------------
	Solutions
---------------------*/

/* Sections Header
--------------------------------*/

.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-align: center;
  font-weight: 400;
	padding-top: 30px;
}

.section-header .section-description {
  text-align: center;
  color: #777;
  font-style: italic;
}

.section-header .section-divider {
  display: block;
  width: 60px;
  height: 3px;
  background: #1dc8cd;
  background: linear-gradient(0deg, #1dc8cd 0%, #55fabe 100%);
  margin: 0 auto;
  margin-bottom: 20px;
}

.section-bg {
  background: #eff5f5;
}

/* About Us Section
--------------------------------*/

#about {
  overflow: hidden;
}

#about h2 {
  color: #333;
  font-weight: 300;
  font-size: 24px;
}

#about h3 {
  color: #777;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about p {
  line-height: 26px;
}

#about p:last-child {
  margin-bottom: 0;
}


/* Product Advanced Featuress Section
--------------------------------*/

#advanced-features {
  overflow: hidden;
}

#advanced-features .features-row {
  padding: 60px 0 30px 0;
}

#advanced-features h2 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

#advanced-features h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #999;
}

#advanced-features p {
  line-height: 24px;
  color: #777;
}

#advanced-features i {
  color: #666666;
  font-size: 64px;
  transition: 0.5s;
  float: left;
  padding: 0 15px 0px 0;
  line-height: 1;
}

#advanced-features i:before {
  background: #1dc8cd;
  background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#advanced-features .advanced-feature-img-right {
  max-width: 100%;
  float: right;
  padding: 0 0 30px 30px;
}

#advanced-features .advanced-feature-img-left {
  max-width: 100%;
  float: left;
  padding: 0 30px 30px 0;
}


/* More Features Section
--------------------------------*/

#more-features {
  padding: 0px 0 60px 0;
  overflow: hidden;
}

#more-features .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  transition: 0.4s;
}

#more-features .icon {
  float: left;
}

#more-features .icon i {
  color: #666666;
  font-size: 80px;
  transition: 0.5s;
  line-height: 0;
}

#more-features .icon i:before {
  background: #1dc8cd;
  background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#more-features h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#more-features h4 a {
  color: #111;
}

#more-features p {
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
}


/*------------------
  Solutions
---------------------*/


/*------------------
	Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}
.page-info-section {
	padding-top: 90px;
}

@media (max-width: 1585px) {
	.hero-section .laptop-image {
		left: 0;
	}
}
.page-info-section {
	padding-top: 90px;
}


@media (max-width: 1425px) {
	.header-section .site-btn {
		margin-left: 0;
	}
	.hero-section,
	.page-info-section {
		background-position: right 30% top;
		padding-top: 90px;
	}
	.hero-section .laptop-image {
		width: auto;
		max-width: 100%;
		top: 70px;
	}
	.about-img {
		left: -50px;
		width: 600px;
	}
}

@media (min-width: 1199px) and (max-width: 1390px) {
	.member {
		padding: 35px 10px;
	}
	.member-img {
		width: 160px;
		height: 160px;
	}
	.member-info {
		padding: 50px 27px 10px;
		height: 275px;
	}
	.member-social a {
		margin: 0 5px;
	}
}
.page-info-section {
	padding-top: 60px;
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.menu-list li a {
		margin-right: 15px;
	}
	.hero-section,
	.page-info-section {
		background-position: right 23% top;
	}
	.about-img {
		left: 0px;
		width: 480px;
	}
	.member {
		width: calc(33.333333% - 25px);
		margin-bottom: 30px;
	}
	.team-members {
		text-align: center;
	}
	.fact h2 {
		font-size: 45px;
		margin-right: 10px;
	}
	.fact p {
		padding-top: 7px;
	}
	.fact i {
		font-size: 67px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-section {
		padding: 15px 15px 0;
	}
	.menu-list li a {
		margin-right: 6px;
	}
	.header-section .site-btn {
		margin-left: 10px;
	}
	.hero-section {
		background-position: right 25% top;
		height: 730px;
		padding-top: 160px;
	}
	.page-info-section {
		background-position: right 33% top;
	}
	.page-info-section h2 {
		font-size: 40px;
	}
	.hero-text h2 {
		font-size: 45px;
	}
	.process-step:after {
		width: 154px;
		height: 35px;
		top: -10px;
		right: -44%;
		background-size: contain;
	}
	.about-img {
		position: relative;
		display: block;
		left: 0;
		width: auto;
		margin-top: 50px;
	}
	.member {
		width: calc(33.333333% - 25px);
		margin-bottom: 30px;
		padding: 35px 10px;
	}
	.member-img {
		width: 160px;
		height: 160px;
	}
	.member-info {
		padding: 50px 27px 10px;
		height: 275px;
	}
	.member-social a {
		margin: 0 5px;
	}
	.team-members {
		text-align: center;
	}
	.fact {
		margin-bottom: 30px;
	}
	.pull-3 {
		right: 0;
	}
	.push-8 {
		left: 0;
	}
	.review-section {
		text-align: center;
	}
	.review-text {
		padding: 0 60px;
	}
	.review-text-slider .owl-nav {
		padding-top: 0;
		position: absolute;
		top: 50%;
		margin-top: -45px;
		left: 0;
		width: 100%;
	}
	.review-text-slider .owl-prev {
		float: left;
	}
	.review-text-slider .owl-next {
		float: right;
	}
	.review-meta-slider {
		margin: auto;
	}
	.author-meta {
		padding-top: 0;
	}
	.newsletter-form {
		padding-left: 0;
	}
	.footer-widget {
		margin-bottom: 30px;
	}
	.newsletter-section {
		text-align: center;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.header-section {
		padding: 1px 0;
		background: #fff;
	}

	.logo-top {
		width: 155px;
		height: 50px;
	}

	.header-section .responsive-bar {
		float: right;
		font-size: 25px;
		display: block;
		cursor: pointer;
		padding-top: 5px;
	}
	.header-section .user {
		float: right;
		font-size: 25px;
		color: #333;
		margin-right: 20px;
		display: block;
		padding-top: 5px;
	}
	.main-menu {
		float: none;
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		background: #fff;
		padding: 0 1px;
		display: none;
		-webkit-box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
		        box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
	}
	.menu-list {
		list-style: none;
	}
	.menu-list li {
		display: block;
		border-top: 1px solid #e1e1e1;
	}
	.menu-list li a {
		display: block;
		padding: 10px 5px;
		margin-right: 0;
		color: #20509e;
	}
	.hero-text h2 {
		font-size: 40px;
	}
	.hero-section {
		height: auto;
		padding-bottom: 100px;
		padding-top: 160px;
		background-position: right 50% top;
	}
	.page-info-section {
		background-position: right 56% top;
		margin-top: 37px;
	}
	.page-info-section h2 {
		font-size: 40px;
	}
	.about-img {
		position: relative;
		display: block;
		left: 0;
		width: auto;
		margin-top: 50px;
	}
	.team-members {
		margin: 0;
		padding: 0 15px;
	}
	.member {
		width: 100%;
		margin-bottom: 30px;
		margin-left: 0;
	}
	.fact {
		margin-bottom: 30px;
	}
	.process-step:after {
		display: none;
	}
	.pull-3 {
		right: 0;
	}
	.push-8 {
		left: 0;
	}
	.review-section {
		text-align: center;
	}
	.review-text {
		padding: 0 60px;
	}
	.review-text-slider .owl-nav {
		padding-top: 0;
		position: absolute;
		top: 50%;
		margin-top: -45px;
		left: 0;
		width: 100%;
	}
	.review-text-slider .owl-prev {
		float: left;
	}
	.review-text-slider .owl-next {
		float: right;
	}
	.review-meta-slider {
		margin: auto;
	}
	.author-meta {
		padding-top: 0;
	}
	.header-section .site-btn {
		display: none;
	}
	.newsletter-form {
		padding-left: 0;
	}
	.newsletter-section {
		text-align: center;
	}
	.review-text p {
		font-size: 20px;
	}
	.blog-item {
		margin-bottom: 30px;
	}
	.footer-widget {
		margin-bottom: 10px;
	}
	.single-blog-page .social-share {
		text-align: left;
		margin-top: 20px;
	}
}

/* small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.review-text {
		padding: 0 45px;
	}
	.review-text p {
		font-size: 18px;
	}
	.newsletter-form input {
		padding-right: 30px;
	}
	.newsletter-form button {
		position: relative;
		padding: 14px;
		border-radius: 50px;
		margin-top: 23px;
	}
	.review-text-slider .owl-prev,
	.review-text-slider .owl-next {
		width: 40px;
		height: 40px;
		font-size: 18px;
	}
	.review-meta-slider {
		width: auto;
	}
	.member-img {
		width: 180px;
		height: 180px;
	}
	.member-info {
		padding: 50px 20px 10px;
		height: 320px;
	}
	.blog-text {
		padding: 15px;
	}
	.comment .comment-avator {
		float: none;
		margin-bottom: 20px;
	}
	.comment .comment-content {
		padding-left: 0;
	}
}


/*my changes */

.grid-container {
  display: grid inline-grid;
	grid-column-gap: 30px;
}


/*-----------------
  Downloads Button
	-----------------*/

	@import url("https://fonts.googleapis.com/css?family=Raleway");

	* {
		box-sizing: border-box;
	}

	.button.type1 {
		position: relative;
		padding: 10px;
		border: none;
		background-color: transparent;
		cursor: pointer;
		outline: none;
		font-size: 18px;
		margin: 10px;
	}

	.button.type1 {
		color: #566473;
	}

	.button.type1.type1::after, .button.type1.type1::before {
		content: '';
		display: block;
		position: absolute;
		width: 20%;
		height: 20%;
		border: 2px solid;
		transition: all 0.6s ease;
		border-radius: 2px;
	}

	.button.type1.type1::after {
		bottom: 0;
		right: 0;
		border-top-color: transparent;
		border-left-color: transparent;
		border-bottom-color: #566473;
		border-right-color: #566473;
	}

	.button.type1.type1::before {
		top: 0;
		left: 0;
		border-bottom-color: transparent;
		border-right-color: transparent;
		border-top-color: #566473;
		border-left-color: #566473;
	}

	.button.type1.type1:hover:after, .button.type1.type1:hover:before {
		width: 100%;
		height: 100%;
	}

/*-----------------
  Downloads Button
	-----------------*/

.file-frame {
	width: 200px;
  height: 250px;
}


.frame {
	border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
	-webkit-box-shadow: 5px 5px 12px -1px rgba(145,140,145,0.62);
  -moz-box-shadow: 5px 5px 12px -1px rgba(145,140,145,0.62);
  box-shadow: 5px 5px 12px -1px rgba(145,140,145,0.62);
  margin: auto;
	margin-bottom: 32.50px;
}

.bt1 {
	text-align: center;
}

.collapsible {position: relative;top: 50%;left: 50%;margin-top: -50px;margin-left: 20px;margin-bottom: 50px;}

.content {
  padding: 20px 18px 20px 18px;
  display: none;
  overflow: hidden;
  max-height: 0;
  background-color: white;
  transition: max-height 2s ease-out;
  margin-left: 10%;
  margin-right: 10%;
}

.content #compliance {
	text-align: center;
	padding-bottom: 20px;
}

.content #compliance1 {
	margin-bottom: 50px;
}

.liaison {
	margin-top: 50px;
}

a.goto:hover {
	cursor: pointer;
	position: relative;
}

a.goto span{
	display: none;
}

a.goto:hover span {
	position: absolute;
	display: block;
	z-index: 1;
	background-color: #848979;
	color: #fff;
	text-align: center;
	padding: 7px;
	border-radius: 7px;
	bottom: 125%;
  left: 50%;
  margin-left: -62px;
	opacity: 0;
  transition: opacity 0.5s;
	visibility: visible;
  opacity: 1;
}

a.goto::after {
  content: "";
  position: absolute;
}

a.goto span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #848979 transparent transparent transparent;
}

.process-icon > img {
	width:70px;
}

@media screen and (max-width: 760px) {

    .laptop-image {
        display: none;
    }
    .about-img {
        display: none;
}

@media screen and (max-width: 800px){

	.hero-section {
		padding-top: 90px;
		padding-bottom: 25px;
	}
}
@media (min-width: 460px) and (max-width: 762px) {

	.hero-section h2 {
		max-width: 40%;
	}

}

@media (min-width: 1px) and (max-width: 762px) {

 .dropbtn {
	 color: #20509e;
	 padding: 5px;
 }

.frame {
	width: 300px;
	display: block;
}

.file-frame {
	width: 150px;
  height: 200px;
}

 #topbtn {
	 right: 30px;
	}

 .info {
	 margin-top: 10px;
 }

 .spad2 {
 	margin-top: 0px;
 	margin-bottom: 30px;
 	padding-top: 0px
 }
 .spad1 {
 	margin-top: 30px;
 }

 .collapsible {
	 margin-left: -90px;
 }

 .dropdown-content a{
	 color: #20509e;
 }

.content {
	margin-left: 0%;
	margin-right: 0%;
	padding-left: 30px;
}

.hero-text h2 {
	color: #6c757d;
}
}
